<div id="header" class="px-5 lg:px-8 py-3 flex items-center justify-between xl:justify-around shadow-md lg:h-24">
    <div id="logo" class="inline-flex items-center font-medium space-x-2">
        <img src="https://www.vtorlabs.com/assets/logo.png" alt="Lab Logo" class="h-12 w-12 lg:w-16 lg:h-16">
        <p>
            <span class="font-extrabold text-lg">Vision</span> <br>
            to
            <span class="font-bold text-[#0082d7]">Reality</span>
        </p>
    </div>
    <button class="lg:hidden">
        <mat-icon>menu</mat-icon>
    </button>
    <div id="menu" class="hidden font-medium lg:flex space-x-9 xl:space-x-14">
        <a href="">Home</a>
        <a href="">Company</a>
        <a href="">Products</a>
        <a href="">Contact</a>
    </div>


    <div id="mobile__Menu" class="hidden">
        <a href="">Home</a>
        <a href="">Company</a>
        <a href="">Products</a>
        <a href="">Contact</a>
    </div>
</div>