<div id="footer" class="bg-[#121921]">
    <div id="vtorFooter" class="px-4 py-40">
        <div id="vtorLogo" class="">
            <a href="" class="">
                <div class="space-x-7 pb-7">
                    <p class="text-[#0083ff] font-semibold text-4xl inline-block">VTOR</p>
                    <p class="text-[#a1b7d2] inline-block">Labs</p>
                </div>
            </a>
            <p class="text-secondary_text text-sm tracking-wide pb-12">Claritas est etiam processus dynamicus, qui
                sequitur mutationem
                consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                anteposuerit litterarum formas humanitatis per. Investigationes demonstraverunt lectores
                legere me lius quod ii legunt saepius.
            </p>
            <a href="" class="text-white text-sm font-medium">Learn More about VTOR Labs</a>
        </div>
        <div id="footerLinks" class="pt-7">
            <p class="text-white text-xl font-medium pb-3">Useful Links</p>
            <ul>
                <li class="flex flex-col text-secondary_text text-sm space-y-2">
                    <a href="">Home</a>
                    <a href="">Company</a>
                    <a href="">Products</a>
                    <a href="">Contact</a>
                </li>
            </ul>
        </div>
        <div id="vtorConnect" class="pt-8">
            <p class="text-white pb-5">Contact With Us</p>
            <div id="vtorContacts">
                <div class="flex space-x-2">
                    <mat-icon class="text-[#0083ff]"> mail_outline</mat-icon>
                    <p class="text-secondary_text inline-flex">info@vtorlabs.com</p>
                </div>
                <button class="bg-green-600 w-full rounded-full py-2 px-7 mt-5">Send a message</button>
            </div>
            <div id="footerSocials" class="pt-6 text-secondary_text font-medium flex space-x-2 items-center">
                <p>Follow Us: </p>
                <mat-icon>facebook</mat-icon>
                <mat-icon>twitter</mat-icon>
                <mat-icon>instagram</mat-icon>
            </div>
        </div>
    </div>
    <div id="copyRights" class="relative text-center mt-9 bg-white">
        <a href="" id="back-to-top" class="bg-[#0083ff] h-16 w-16 p-4 z-10 rounded-full">
            <mat-icon>arrow_upward</mat-icon>
        </a>
    </div>
</div>