<Header></Header>
<div id="caseDetails-wrapper" class="bg-[#0083ff] pt-9 lg:pt-32 relative lg:flex lg:justify-evenly">
    <div id="container" class="px-5 md:px-9 lg:inline-block">
        <div id="caseDetails-Desc" class="text-white mb-8 lg:max-w-xl">
            <p class="text-[#b2d6ff] uppercase font-bold mb-6">Case Details</p>
            <p class="mb-8 text-2xl md:text-3xl lg:text-5xl font-bold tracking-wide">Mirum est notare quam littera
                gothica, quam
                nunc putamus
                parum</p>
            <p class="mt-5 font-medium tracking-wide !leading-6 md:text-xl lg:text-lg">Quam littera gothica, quam nunc
                putamus
                parum claram,
                anteposuerit litterarum formas.</p>
        </div>
        <a href="" class="bg-[#121921] text-left cursor-pointer inline-block py-3 px-8 md:mt-6 text-white rounded-full">
            <img src="https://html.crumina.net/html-utouch/svg-icons/google-play.svg" alt=""
                class="h-7 w-7 inline-block mr-4">
            <div id="download-txt" class="inline-block align-middle">
                <span class="block text-xs !leading-none font-extrabold text-[#aaa]">Download on the</span>
                <span class="font-extrabold">Google Play</span>
            </div>
        </a>
    </div>
    <div id="caseDetail-DemoImage" class="lg:inline-block">
        <img src="https://html.crumina.net/html-utouch/img/screen3.png" alt="" class="mx-auto block">
    </div>
</div>

<div id="caseDetail-Desc" class="py-9">
    <div id="container" class="px-5 md:px-9 lg:flex lg:justify-around">
        <div id="caseDetail-Desc-1" class="mb-7 lg:max-w-lg">
            <p class="text-primary_text text-xl md:text-3xl lg:text-2xl font-extrabold md:font-bold mb-7">
                Investigationes
                demonstraverunt lectores legere me
                lius</p>
            <p class="text-secondary_text text-lg lg:text-base !leading-7">Claritas est etiam processus dynamicus, qui
                sequitur
                mutationem
                consuetudium
                lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                litterarum formas humanitatis per.
            </p>
        </div>
        <div id="casaeDetail-Desc-2" class="mt-5 lg:mt-0 lg:max-w-lg">
            <p class="text-primary_text text-xl md:text-3xl lg:text-2xl font-extrabold md:font-bold mb-7">
                Investigationes
                demonstraverunt
                lectores legere me
                lius</p>
            <p class="text-secondary_text text-lg lg:text-base !leading-7">Claritas est etiam processus dynamicus, qui
                sequitur
                mutationem
                consuetudium
                lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                litterarum formas humanitatis per.
            </p>
        </div>
    </div>
</div>

<div id="caseDetail-working" class="py-9">
    <div id="container" class="lg:flex lg:justify-evenly">
        <div id="caseDetail-Screenshot" class="px-5 lg:inline-block">
            <img src="https://play-lh.googleusercontent.com/GLODKQhrLSLxD3bcXrxwMRC2qaEY-aND1CDPoMYyCK6uqVSJHCE_3RB9Mbn8kH8AFpk=w2560-h1440-rw"
                alt="" class="w-[19rem] h-auto mx-auto inline-block md:block object-contain rounded-lg">
        </div>
        <div id="caseDetail-instructionWrapper" class="mt-5 px-5 md:px-9 lg:inline-block lg:max-w-2xl">
            <div id="caseDetail-instructions" class="mb-7">
                <p class="text-primary_text text-xl md:text-3xl lg:text-4xl font-bold mb-8">How it Works</p>
                <p class="text-secondary_text md:text-xl lg:text-base md:!leading-8 font-medium">Claritas est etiam
                    processus
                    dynamicus, qui sequitur mutationem
                    consuetudium
                    lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                    litterarum formas humanitatis per.
                </p>
            </div>
            <ul
                class="mt-6 mb-9 ml-8 text-primary_text text-sm md:text-base font-bold md:flex md:flex-col md:space-y-2">
                <li class="inline-flex">
                    <mat-icon class="text-sm font-extrabold text-[#01a23c]">done</mat-icon>
                    <p class="inline-block">Qolor sit amet, consectetuer.</p>
                </li>
                <li class="inline-flex">
                    <mat-icon class="text-sm font-extrabold text-[#01a23c]">done</mat-icon>
                    <p class="inline-block">Qolor sit amet, consectetuer.</p>
                </li>
                <li class="inline-flex">
                    <mat-icon class="text-sm font-extrabold text-[#01a23c]">done</mat-icon>
                    <p class="inline-block">Qolor sit amet, consectetuer.</p>
                </li>
                <li class="inline-flex">
                    <mat-icon class="text-sm font-extrabold text-[#01a23c]">done</mat-icon>
                    <p class="inline-block">Qolor sit amet, consectetuer.</p>
                </li>
            </ul>
            <a href=""
                class="uppercase text-white font-extrabold bg-[#0083ff] text-xs md:text-sm py-3 px-7 rounded-full">Get
                Started Now</a>
        </div>
    </div>
</div>

<div id="caseDetail-technology" class="py-24">
    <div id="container" class="">
        <Products></Products>
    </div>
</div>

<Screenshots></Screenshots>

<div id="caseDetails-Download" class="py-20">
    <div id="container" class="px-5">
        <div id="downloadSection" class="text-center lg:max-w-3xl lg:mx-auto">
            <div id="downloadDesc" class="text-primary_text text-center mb-7">
                <p class="text-2xl lg:text-4xl font-bold mb-7">Download the <span class="text-[#0083ff]">Myyba
                        Shops</span> Now!</p>
                <p class="font-medium text-secondary_text">Claritas est etiam processus dynamicus, qui sequitur
                    mutationem consuetudium
                    lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum.
                </p>
            </div>
            <a href="" class="bg-[#121921] text-left cursor-pointer inline-block py-3 px-8 text-white rounded-full">
                <img src="https://html.crumina.net/html-utouch/svg-icons/google-play.svg" alt=""
                    class="h-7 w-7 inline-block mr-4">
                <div id="download-txt" class="inline-block align-middle">
                    <span class="block text-xs !leading-none font-extrabold text-[#aaa]">Download on the</span>
                    <span class="font-extrabold">Google Play</span>
                </div>
            </a>
        </div>
    </div>
</div>

<Footer></Footer>