<Header></Header>
<div id="caseDetails-wrapper" class="bg-[#0083ff] pt-9">
    <div id="container" class="px-5">
        <div id="caseDetails-Desc" class="text-white mb-8">
            <p class="text-[#b2d6ff] uppercase font-extrabold mb-6">Case Details</p>
            <p class="mb-8 text-2xl font-bold tracking-wide">Mirum est notare quam littera gothica, quam nunc putamus
                parum</p>
            <p class="mt-5 font-medium tracking-wide !leading-6">Quam littera gothica, quam nunc putamus parum claram,
                anteposuerit litterarum formas.</p>
        </div>
        <a href="" class="bg-[#121921] text-left cursor-pointer inline-block py-3 px-8 text-white rounded-full">
            <img src="https://html.crumina.net/html-utouch/svg-icons/google-play.svg" alt=""
                class="h-7 w-7 inline-block mr-4">
            <div id="download-txt" class="inline-block align-middle">
                <span class="block text-xs font-bold text-[#aaa]">Download on the</span>
                <span class="font-extrabold">Google Play</span>
            </div>
        </a>
    </div>
</div>