<div id="labsStory-slider" class="py-9 bg-[#ecf5fe]">
    <div id="container" class="text-primary_text px-5">
        <h2 class="text-primary_text text-2xl text-center font-medium mx-4 pb-7">Short Story About Our Labs</h2>
        <owl-carousel-o [options]="storySliderOptions">

            <ng-container *ngFor="let aboutLab of labsStoryData">
                <ng-template carouselSlide>
                    <div id="shortStory_images" [ngStyle]="{background: aboutLab.bgColor}"
                        class="w-[100px] h-[100px] text-center mx-auto mb-4 rounded-full leading-[95px]">
                        <img [src]="aboutLab.yearImg" class="h-10 w-10 !inline-block">
                    </div>
                    <div id="shortStory_info" class="flex flex-col text-center space-y-4">
                        <p [ngStyle]="{color: aboutLab.bgColor}" class="font-medium">{{aboutLab.year}}</p>
                        <p class="font-medium">{{aboutLab.yearTitle}}</p>
                        <p class="text-sm">{{aboutLab.yearInfo}}</p>
                    </div>
                </ng-template>
            </ng-container>

        </owl-carousel-o>
    </div>
</div>