<Header></Header>

<div id="banner">
    <div id="container" class="pt-9 lg:pt-28 md:mx-5 lg:mx-auto md:px-5">
        <div id="productsIntro" class="text-center px-5 mb-7 lg:max-w-2xl lg:mx-auto">
            <p class="text-secondary_text font-medium mb-6 uppercase">Our Products</p>
            <p class="text-xl md:text-2xl lg:text-3xl text-primary_text font-semibold lg:!leading-9">We believe every
                great
                idea cannot be great until its
                implemented right
            </p>
        </div>
        <div id="demoImg" class="lg:mx-auto block">
            <img src="https://html.crumina.net/html-utouch/img/product-img.png" alt="" class="block lg:mx-auto">
        </div>
    </div>
</div>

<div id="products" class="lg:pt-32">
    <Products></Products>
</div>