<div id="caseDetail-ScreenshotGallery" class="py-9">
    <div id="container" class="px-5">
        <div id="headings" class="text-center mb-8">
            <p class="text-primary_text text-lg uppercase font-medium mb-6">Screenshots</p>
            <p class="text-primary_text text-2xl font-bold">Beautiful Design and Comfortable User Interface</p>
        </div>
        <div id="gallery" class="pb-24">
            <div id="container" class="px-5">
                <div id="galleryCarousel-wrapper"
                    class="relative h-[594px] lg:h-[95vh] w-full md:w-2/4 lg:w-[32%] md:mx-auto lg:block">
                    <div id="screenshotHolder" class="absolute">
                        <img src="https://html.crumina.net/html-utouch/img/smartphone2.png" alt=""
                            class="lg:block mx-auto">
                    </div>
                    <div id="screenshotCarousel"
                        class="absolute h-[60vh] md:h-[78vh] lg:h-[86vh] w-[79vw] md:w-[40vw] pt-24 md:left-[16px] lg:-left-[100px]">
                        <owl-carousel-o [options]="galleryOptions">

                            <ng-container *ngFor="let images of appScreenshots">
                                <ng-template carouselSlide>
                                    <img [src]="images.appImage"
                                        class="h-[60vh] md:h-[78vh] lg:h-[86vh] w-[79vw] object-contain md:left-0 md:block">
                                </ng-template>
                            </ng-container>

                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>