<div id="banner" class="px-5 h-[85vh] xl:h-[80vh]">
    <div id="bannerContent" class="flex flex-col text-center justify-center">
        <div id="bannerHead" class="">
            <h1 class="text-primary_text font-extrabold text-lg">We Build Scalable Business Solutions</h1>
            <p class="text-primary_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime unde at alias
                aut doloribus.</p>
        </div>
        <div id="bannerBtns" class="space-y-3 flex flex-col mt-8">
            <button class="rounded-full bg-yellow-400 p-2">Know More</button>
            <button class="rounded-full p-2 border-2 border-sky-500">Get Started Now</button>
        </div>
    </div>
</div>