#productImage {
    box-shadow: 30px 0 25px 0 rgba(0, 0, 0, 0.2);
    transition: all .3s ease;
    transition-delay: 0s;
    position: relative;
    transition: transform 1s; 
    transform: perspective(50em) translateZ(0) translate(0%, 0%) rotateY(30deg) rotateX(20deg);
}

#produtImage:hover {
    transform: perspective(100em) translateZ(0) translate(0%, 0%) rotateY(0deg) rotateX(0deg);
    cursor: pointer;
}