/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer components {
    .slide3_Content {
        @apply mx-6 flex flex-col items-start space-y-6 justify-center
    }

    .slide3_ContentMD {
        @apply absolute right-0 w-[25rem] h-96
    }

    .slide3_ContentLG {
        @apply absolute right-0 w-[36rem] h-96
    }

    /* Header Component */
    .nav_menu {
        @apply hidden lg:flex text-[#839dbc] relative
    }

    .ham_menu {
        @apply inline-flex flex-col absolute w-full bg-slate-500 top-20 z-20
    }
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}