<Header class="bg-[#121921]"></Header>
<div id="aboutWrapper" class="">
    <div id="aboutLabs" class="px-5 relative">
        <img src="https://html.crumina.net/html-utouch/img/clouds19.png" alt="" class="absolute">
        <div id="companyContainer" class="flex flex-col items-start">
            <div id="shortIntro" class=" pt-16 space-y-7 mb-8 text-start">
                <p class="text-[#4b5d73] font-medium">COMPANY</p>
                <p class="text-xl font-semibold text-primary_text">Welcome to <span class="text-[#0083ff]">VTOR!</span>
                    We
                    help you to turn your Vision into Reality.</p>
                <p class="text-sm text-primary_text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <button class="mt-6 border-2 border-sky-500 rounded-full py-3 px-9 text-xs text-sky-600 font-semibold">LEARN
                MORE</button>
            <button class="text-xs text-white bg-green-600 py-3 px-9 rounded-full font-semibold mt-4">CONTACT
                US</button>
        </div>
    </div>
    <div id="welcomeImage" class="mt-9 px-5">
        <img src="https://html.crumina.net/html-utouch/img/man.png" alt="aboutUS_Man" class="w-80 object-contain">
    </div>

    <div id="questions" class="py-9 px-5">
        <div id="question" class="space-y-10">
            <div id="question_one" class="text-primary_text space-y-5">
                <span class="text-sky-500 text-xl font-semibold">01.</span>
                <p class="text-2xl font-medium">Who We Are</p>
                <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi saepe deleniti in
                    dolorem soluta sed
                    quae.
                </p>
            </div>
            <div id="question_two" class="text-primary_text space-y-7">
                <span class="text-sky-500 text-xl font-semibold">02.</span>
                <p class="text-2xl font-medium">What We Do</p>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi exercitationem, magni
                    atque at beatae
                    magnam rerum quam tenetur natus temporibus.
                </p>
            </div>
            <div id="question_three" class="text-primary_text space-y-6">
                <span class="text-sky-500 text-xl font-semibold">03.</span>
                <p class="text-2xl font-medium">How We Do It</p>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eius molestiae beatae
                    maiores odit magni
                    vero laborum.</p>
            </div>
        </div>
    </div>

    <div id="labsStory-slider" class="py-9 bg-[#ecf5fe]">
        <div id="container" class="text-primary_text px-5">
            <p>Short Story About Our Labs</p>
            <owl-carousel-o [options]="storySliderOptions">

                <ng-container *ngFor="let aboutLab of labsStoryData">
                    <ng-template carouselSlide>
                        <div id="shortStory_images" class="w-[100px] h-[100px] text-center mx-auto">
                            <img [src]="aboutLab.yearImg" class="h-10 rounded-full"
                                [ngStyle]="{background: aboutLab.bgColor}">
                        </div>
                        <div id="shortStory_info">
                            <p>{{aboutLab.year}}</p>
                            <p>{{aboutLab.yearTitle}}</p>
                            <p>{{aboutLab.yearInfo}}</p>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
</div>